/* Small devices (phones, 320px and down) */
li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.form {
    display: grid;
    grid-template-rows: 1fr max-content;
    grid-gap: 10px;
}

.form__bloque-contenedor {
    display: grid;
    align-content: start;
    grid-gap: 10px;
    color: #fff;
}

.form__bloque {
    border-radius: 10px;
    padding: 10px;
    background: var(--main-blue);
}

.form__h3 {
    font-weight: 600;
}

.form__label {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
}

.form__opciones {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.form__input {
    border-bottom: 2px solid #fff;
    width: 100%;
    margin: .25em 0 .75em;
    padding: 5px 10px;
    color: #fff;
    font-weight: 600;
}

.form__input:focus, .seleccionado {
    outline: none;
    border: none;
    border-bottom: 2px solid #fff;
    background: linear-gradient(#fff0, #fffa);
}

:disabled, .descartado {
    border-bottom: 2px solid var(--dark-blue);
    color: var(--dark-blue)
}

::placeholder {
    color: var(--dark-blue);
}

input[type="date"]::-webkit-datetime-edit-text {
    color: var(--dark-blue);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(100%);
}


#paciente_alternar_esta_internado:hover, .eleccion:hover {
    background: radial-gradient(var(--gradient-light-blue));
    cursor: pointer;
}

@media only screen and (max-width: 479px) {
    .form__div {
        display: flex;
        flex-direction: column;
    }

    #paciente_alternar_esta_internado:hover, .eleccion:hover {
        border: 2px solid #fff;
    }
    
    .main__nav-contenedor {
        display: grid;
        grid-auto-rows: minmax(min-content, max-content);
        grid-auto-flow: column-reverse;
        grid-gap: 10px;
    }
}

/* Medium devices (portrait tablets and large phones, 480px and up) */
@media only screen and (min-width: 480px) and (max-width: 1023px) {
    .form__bloque-contenedor {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content max-content;
    }

    #paciente_bloque {
        grid-row: span 2;
    }
    
    .main__nav-contenedor {
        display: grid;
        grid-auto-rows: minmax(min-content, max-content);
        grid-auto-flow: column-reverse;
        grid-gap: 10px;
    }
    
    /* .main__nav-contenedor {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

    #confirmar {
        order: 2;
    }

    #volver {
        order: 1;
    } */
}


/* large devices (large laptops and desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {

    .main {
        align-self: center;
        min-width: 1024px;
    }
    
    .form__bloque-contenedor {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content;
    }
    
    #paciente_bloque {
        grid-row: span 2;
    }
    
    #paciente_alternar_esta_internado:focus, .eleccion:focus {
        background: radial-gradient(var(--gradient-light-blue));
        cursor: pointer;
        border: 2px solid #fff;
    }
    
    .main__nav-contenedor {
        margin-left: auto;
        display: grid;
        grid-auto-columns: 300px;
        /* grid-template-columns: repeat(2, 1fr); */
        grid-gap: 10px;
    }

    /* #confirmar {
        order: 2;
    }

    #volver {
        order: 1;
    } */
}