
.main__boton {
    width: 100%;
    font-size: 2.5em;
}

/* Small devices (phones, 320px and down) */
@media only screen and (max-width: 479px) {
    .main {
        display: grid;
        grid-auto-rows: 1fr;
        grid-gap: 10px;
        align-content: stretch;
        justify-content: stretch;
    }
    
    .main__boton-contenedor, .main__nav-contenedor {
        flex-grow: 1;
        display: flex;
    }
}


/* Medium devices (portrait tablets and large phones, 480px and up) */
@media only screen and (min-width: 480px) and (max-width: 1023px) {
    .main {
        display: grid;
        grid-template-columns: max-content;
        justify-content: end;
        grid-gap: 10px;
    }

    .main__boton-contenedor, .main__nav-contenedor {
        flex-grow: 1;
        display: flex;
        min-width: 460px;
    }
    
}


/* large devices (large laptops and desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
    body {
        width: 100%;
        align-items: stretch;
    }

    .main {
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        grid-gap: 10px;
        min-width: 1024px;
    }

    .main__nav-contenedor {
        align-items: end;
        margin-left: auto;
        min-width: 300px;
        max-height: max-content;
    }
}