{% extends 'base.html' %}

{% block title %}Constancia Nueva{% endblock %}

{% block style %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/new.css' %}">
{% endblock %}

{% block content %}
<form class="main__form" id="form-new" action="{% url 'submit' %}" method="POST" autocomplete="off">
    {% csrf_token %}

    <div class="main__form-container">
        <div class="main__form-partition" id="main__patient">
            <h3 class="main__h3">Paciente</h3>
            <div class="main__options">
                <input type="text" class="main__input" id="patient-search" placeholder="Buscar por DNI, nombre o apellido...">
                <input type="button" class="main__input selection" id="open-new-patient"  value="Nuevo">
            </div>
            <ul id="patient-list">
                {{ pacientes_html | safe }}
            </ul>
        
            <div class="main__div new-patient">
                <label for="p-name" class="main__label" id="label-p-name">Nombre<b class="error" id="error-p-name"></b></label>
                <input type="text" class="main__input" id="p-name" name="p-name" placeholder="Lionel Andrés" value="{{ valores_constancia.1 }}">
            </div>
            <div class="main__div new-patient">
                <label for="p-last" class="main__label" id="label-p-last">Apellido<b class="error" id="error-p-last"></b></label>
                <input type="text" class="main__input" id="p-last" name="p-last" placeholder="Messi" value="{{ valores_constancia.2 }}">
            </div>
            <div class="main__div new-patient">
                <label for="p-dni" class="main__label" id="label-p-dni">D.N.I.<b class="error" id="error-p-dni"></b></label>
                <input type="text" class="main__input" id="p-dni" name="p-dni" placeholder="12345678" value="{{ valores_constancia.0 }}">
            </div>
            <div class="main__div new-patient">
                <label for="p-genre" class="main__label" id="label-p-genre">Género<b class="error" id="error-p-genre"></b></label>
                <div class="main__options">
                    <input type="button" class="main__input selection" id="p-genre-female"  value="Femenino">
                    <input type="button" class="main__input selection" id="p-genre-male" value="Masculino">
                    <input type="text" class="invisible" id="p-genre" name="p-genre" value="{{ valores_constancia.3 }}">
                </div>
            </div>
            <div class="main__div new-patient">    
                <label for="p-admission" class="main__label" id="label-p-admission">Internación<b class="error" id="error-p-admission"></b></label>
                <input type="date" class="main__input" id="p-admission" name="p-admission">
            </div>
            <div class="main__div new-patient">
                <label for="p-exit" class="main__label" id="label-p-exit">Externación<b class="error" id="error-p-exit"></b></label>
                <div class="main__options">
                    <input type="date" class="main__input" id="p-exit" name="p-exit">
                    <input type="hidden" id="p-boolean-admitted" name="booleanValue" value="false">
                    <input type="button" class="main__input selection" id="p-toggle-admitted" name="p-toggle-admitted" value="Internado">
                </div>
            </div>
            <div class="main__div new-patient">
                <label for="p-age" class="main__label" id="label-p-age">Edad<b class="error" id="error-p-age"></b></label>
                <div class="main__options">
                    <input type="button" class="main__input selection" id="p-age-minor" value="Menor">
                    <input type="button" class="main__input selection" id="p-age-adult" value="Adulto">
                    <input type="text" class="invisible" id="p-age" name="p-age" value="{{ valores_constancia.6 }}">
                </div>
            </div>
        </div>
        
        <div class="main__form-partition" id="main__familiar">
            <h3 class="main__h3">Familiar</h3>
        
            <div class="main__options">
                <input type="button" class="main__input selection" id="select-existing-familiar"  value="Existente">
                <input type="button" class="main__input selection" id="open-new-familiar"  value="Nuevo">
            </div>
            <ul id="relation-familiar-list">
                {{ relacion_familiares_html | safe }}
            </ul>
        
            <div class="main__div new-familiar">
                <label for="f-name" class="main__label" id="label-f-name">Nombre<b class="error" id="error-f-name"></b></label>
                <input type="text" class="main__input" id="f-name" name="f-name" placeholder="Diego Armando" value="{{ valores_constancia.8 }}">
            </div>
            <div class="main__div new-familiar">
                <label for="f-last" class="main__label" id="label-f-last">Apellido<b class="error" id="error-f-last"></b></label>
                <input type="text" class="main__input" id="f-last" name="f-last" placeholder="Maradona" value="{{ valores_constancia.9 }}">
            </div>
            <div class="main__div new-familiar">
                <label for="f-dni" class="main__label" id="label-f-dni">D.N.I.<b class="error" id="error-f-dni"></b></label>
                <input type="text" class="main__input" id="f-dni" name="f-dni" placeholder="12345678" value="{{ valores_constancia.7 }}">
            </div>
            <div class="main__div new-familiar">
                <label for="f-genre" class="main__label" id="label-f-genre">Género<b class="error" id="error-f-genre"></b></label>
                <div class="main__options">
                    <input type="button" class="main__input selection" id="f-genre-female" value="Femenino">
                    <input type="button" class="main__input selection" id="f-genre-male" value="Masculino">
                    <input type="text" class="invisible" id="f-genre" name="f-genre" value="{{ valores_constancia.10 }}">
                </div>
            </div>
            <div class="main__div new-familiar">
                <label for="f-relation" class="main__label" id="label-f-relation">El paciente es su<b class="error" id="error-f-relation"></b></label>
                <input type="text" class="main__input" id="f-relation" name="f-relation" placeholder="hijo / nieta / etc" value="{{ valores_constancia.11 }}">
            </div>
        </div>
        
        <div class="main__form-partition" id="main__date">
            <h3 class="main__h3">Fecha de presentación</h3>
            <div class="main__div">
                <label for="d-date" class="main__label" id="label-d-date"><b class="error" id="error-d-date"></b></label>
                <input type="date" class="main__input" id="d-date" name="d-date" value="{{ valores_constancia.12 }}">
            </div>
        </div>    
    </div>
    
    <nav class="main__nav-container">
        <a class="main__button" id="return" href = "{% url 'index' %}">Volver</a>
        <input type="submit" class="main__button" id="confirm" value="Imprimir">
    </nav>
</form>
{% endblock %}

{% block script %}
<script src="{% static 'js/new.js' %}"></script>
{% endblock %}