{% extends 'base.html' %}

{% block title %}Constancia de internación{% endblock %}

{% block style %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<article class="main__boton-contenedor">
    <a class="main__boton" id="constancias" href = "{% url 'new' %}">Constancias</a>
</article>
<nav class="main__nav-contenedor">
    <button class="main__boton" id="salir">Salir</button>
</nav>
{% endblock %}

{% block script %}
<!-- <script src="{% static 'js/index.js' %}"></script> -->
{% endblock %}