{% extends 'base.html' %}

{% block title %}Constancia Nueva{% endblock %}

{% block style %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/new.css' %}">
{% endblock %}

{% block content %}
<form class="form" id="constancia_formulario" action="{% url 'new_submit' %}" method="POST" autocomplete="off">
    {% csrf_token %}

    <div class="form__bloque-contenedor">
        <div class="form__bloque" id="paciente_bloque">
            <h3 class="form__h3">Paciente</h3>
            <div class="form__div paciente_elegir">
                <div class="form__opciones">
                    <input type="text" class="form__input" id="paciente_buscar-input" placeholder="Buscar por DNI, nombre o apellido...">
                    <input type="button" class="form__input eleccion" id="paciente_elegir-nuevo"  value="Nuevo">
                </div>
                <ul id="paciente_buscar-lista">
                    {{ pacientes_html | safe }}
                </ul>
            </div>
        
            <div class="form__div paciente_modificar invisible">
                <label for="paciente_dni" class="form__label" id="paciente_dni-label">D.N.I.<b class="error" id="paciente_dni-error"></b></label>
                <input type="text" class="form__input" id="paciente_dni" name="paciente_dni" placeholder="12345678">
            </div>
            <div class="form__div paciente_modificar invisible">
                <label for="paciente_nombre" class="form__label" id="paciente_nombre-label">Nombre<b class="error" id="paciente_nombre-error"></b></label>
                <input type="text" class="form__input" id="paciente_nombre" name="paciente_nombre" placeholder="Lionel Andrés">
            </div>
            <div class="form__div paciente_modificar invisible">
                <label for="paciente_apellido" class="form__label" id="paciente_apellido-label">Apellido<b class="error" id="paciente_apellido-error"></b></label>
                <input type="text" class="form__input" id="paciente_apellido" name="paciente_apellido" placeholder="Messi">
            </div>
            <div class="form__div paciente_modificar invisible">
                <label for="paciente_genero" class="form__label" id="paciente_genero-label">Género<b class="error" id="paciente_genero-error"></b></label>
                <div class="form__opciones">
                    <input type="button" class="form__input eleccion" id="paciente_genero-femenino"  value="Femenino">
                    <input type="button" class="form__input eleccion" id="paciente_genero-masculino" value="Masculino">
                    <input type="hidden" id="paciente_genero" name="paciente_genero">
                </div>
            </div>
            <div class="form__div paciente_modificar invisible">    
                <label for="paciente_internacion" class="form__label" id="paciente_internacion-label">Internación<b class="error" id="paciente_internacion-error"></b></label>
                <input type="date" class="form__input" id="paciente_internacion" name="paciente_internacion">
            </div>
            <div class="form__div paciente_modificar invisible">
                <label for="paciente_externacion" class="form__label" id="paciente_externacion-label">Externación<b class="error" id="paciente_externacion-error"></b></label>
                <div class="form__opciones">
                    <input type="date" class="form__input" id="paciente_externacion" name="paciente_externacion">
                    <input type="hidden" id="paciente_esta_internado-boolean" name="paciente_esta_internado-boolean" value="false">
                    <input type="button" class="form__input eleccion" id="paciente_esta_internado-alternar" name="paciente_esta_internado-alternar" value="Internado">
                </div>
            </div>
            <div class="form__div paciente_modificar invisible">
                <label for="paciente_tipo_edad" class="form__label" id="paciente_tipo_edad-label">Edad<b class="error" id="paciente_tipo_edad-error"></b></label>
                <div class="form__opciones">
                    <input type="button" class="form__input eleccion" id="paciente_tipo_edad-menor" value="Menor">
                    <input type="button" class="form__input eleccion" id="paciente_tipo_edad-adulto" value="Adulto">
                    <input type="hidden" id="paciente_tipo_edad" name="paciente_tipo_edad">
                </div>
            </div>
        </div>
        
        <div class="form__bloque invisible" id="familiar_bloque">
            <h3 class="main__h3">Familiar</h3>

            <div class="form__div familiar_elegir">
                <div class="form__opciones">
                    <input type="button" class="form__input eleccion" id="familiar_elegir-relacionado"  value="Relaciones">
                    <input type="button" class="form__input eleccion" id="familiar_elegir-agregar"  value="Agregar">
                </div>
                <ul id="familiar_relacionado-lista">
                    {{ relaciones_familiares_html | safe }}
                </ul>
            </div>

            <div class="form__div familiar_agregar invisible">
                <div class="form__opciones">
                    <input type="text" class="form__input" id="familiar_agregar_buscar-input" placeholder="Buscar por DNI, nombre o apellido...">
                    <input type="button" class="form__input eleccion" id="familiar_agregar_nuevo"  value="Nuevo">
                </div>
                <ul id="familiar_agregar_buscar-lista">
                    {{ familiares_html | safe }}
                </ul>
            </div>
        
            <div class="form__div familiar_modificar invisible">
                <label for="familiar_dni" class="form__label" id="familiar_dni-label">D.N.I.<b class="error" id="familiar_dni-error"></b></label>
                <input type="text" class="form__input" id="familiar_dni" name="familiar_dni" placeholder="12345678">
            </div>
            <div class="form__div familiar_modificar invisible">
                <label for="familiar_nombre" class="form__label" id="familiar_nombre-label">Nombre<b class="error" id="familiar_nombre-error"></b></label>
                <input type="text" class="form__input" id="familiar_nombre" name="familiar_nombre" placeholder="Diego Armando">
            </div>
            <div class="form__div familiar_modificar invisible">
                <label for="familiar_apellido" class="form__label" id="familiar_apellido-label">Apellido<b class="error" id="familiar_apellido-error"></b></label>
                <input type="text" class="form__input" id="familiar_apellido" name="familiar_apellido" placeholder="Maradona">
            </div>
            <div class="form__div familiar_modificar invisible">
                <label for="familiar_genero" class="form__label" id="familiar_genero-label">Género<b class="error" id="familiar_genero-error"></b></label>
                <div class="form__opciones">
                    <input type="button" class="form__input eleccion" id="familiar_genero-femenino" value="Femenino">
                    <input type="button" class="form__input eleccion" id="familiar_genero-masculino" value="Masculino">
                    <input type="hidden" id="familiar_genero" name="familiar_genero">
                </div>
            </div>
            <div class="form__div familiar_modificar invisible">
                <label for="relacion_paciente_familiar" class="form__label" id="relacion_paciente_familiar-label">El paciente es su<b class="error" id="relacion_paciente_familiar-error"></b></label>
                <input type="text" class="form__input" id="relacion_paciente_familiar" name="relacion_paciente_familiar" placeholder="hijo / nieta / etc">
            </div>
        </div>
        
        <div class="form__bloque invisible" id="presentacion_bloque">
            <h3 class="main__h3">Fecha de presentación</h3>
            <div class="form__div">
                <label for="presentacion" class="form__label" id="presentacion-label"><b class="error" id="presentacion-error"></b></label>
                <input type="date" class="form__input" id="presentacion" name="presentacion">
            </div>
        </div>    
    </div>
    
    <nav class="main__nav-contenedor">
        <input type="button" class="main__nav-boton" id="imprimir" value="Imprimir">
        <input type="submit" class="main__nav-boton" id="confirmar" value="Confirmar">
        <input type="button" class="main__nav-boton" id="volver" value="Volver">
    </nav>
</form>
{% endblock %}

{% block script %}
<script>
    const indexUrl = "{% url 'index' %}";
</script>
<script src="{% static 'js/new.js' %}"></script>
{% endblock %}